# Movie Recommendation System

In this project, I try three types of recommendation engines for movies from the Full MovieLens Dataset, which includes meta_data and ratings datasets. The datasets can be found on [Kaggle](https://www.kaggle.com/rounakbanik/the-movies-dataset).
The first dataset I use, meta_data, contains 45000 movies. I analyze it for the selection of top movies and content-based filtering system. I build a collaborative filtering engine using the second dataset, ratings, which I only analyze 20000 rows because of the limitation of my laptop.

I love to watch movies! Are you ready to discover more movies with me?

### Top Movies

In [2]:
#import all the modules

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [124]:
# import data

movie = pd.read_csv('/Users/Sumin/Downloads/movies_metadata.csv', dtype = {'overview' : object})
movie.head(10)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
5,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,1995-12-15,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0
6,False,NaN,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Fran√ßais'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0
7,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",...,1995-12-22,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0
8,False,NaN,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,1995-12-22,64350171.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,1995-11-16,352194034.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0

In [186]:
print(movie.shape)

(45466, 26)

In [132]:
#movie['newgenres'] = movie['genres'].apply(lambda x: pd.read_json(x, orient='records')['name'].tolist())

movie['new_genres'] = movie.genres.apply(lambda x: pd.read_json(x.replace("'", '"'))['name'].tolist() if 'name' in x else [])
movie.head(10)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,new_genres
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[Animation, Comedy, Family]"
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[Adventure, Fantasy, Family]"
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[Romance, Comedy]"
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[Comedy, Drama, Romance]"
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,[Comedy]
5,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,"[Action, Crime, Drama, Thriller]"
6,False,NaN,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Fran√ßais'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,"[Comedy, Romance]"
7,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",...,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0,"[Action, Adventure, Drama, Family]"
8,False,NaN,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,64350171.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0,"[Action, Adventure, Thriller]"
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,352194034.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0,"[Adventure, Action, Thriller]"

Next, I am going to calculate the IMDB's Weighted Ratings formula for the top movie list.

Weighted Ratings =

       (v / v+m)*R + (m / v+m)*C
        v is the number of votes for the movie
        m is the minimum votes required to be listed in the chart
        R is the average rating of the movie
        C is the mean of voting score across the whole report

I will choose 95th percentile for m. Therefore, I have 2274 movies for the content-based analysis.

In [133]:
movie['vote_average'] = pd.to_numeric(movie['vote_average'])
movie['vote_count'] = pd.to_numeric(movie['vote_count'])
C = np.mean(movie['vote_average'])
C

5.618207215134185

In [134]:
m = movie['vote_count'].quantile(q = 0.95)
m

434.0

In [135]:
#extract releasing year from the release date
movie['release_date']= pd.to_datetime(movie['release_date'], errors = 'coerce')
movie['release_date'].head(10)
movie['year'] = movie['release_date'].dt.year
movie['year']=movie['year'].fillna(0).astype('int32')

In [138]:
#extract the data that is top 5 percentile

top = movie.loc[:, ['title', 'year', 'new_genres', 'vote_average', 'vote_count']]
top5 = top['vote_count'] >= m
top = top[top5]
top

,title,year,new_genres,vote_average,vote_count
0,Toy Story,1995,"[Animation, Comedy, Family]",7.7,5415.0
1,Jumanji,1995,"[Adventure, Fantasy, Family]",6.9,2413.0
5,Heat,1995,"[Action, Crime, Drama, Thriller]",7.7,1886.0
9,GoldenEye,1995,"[Adventure, Action, Thriller]",6.6,1194.0
15,Casino,1995,"[Drama, Crime]",7.8,1343.0
17,Four Rooms,1995,"[Crime, Comedy]",6.5,539.0
18,Ace Ventura: When Nature Calls,1995,"[Crime, Comedy, Adventure]",6.1,1128.0
31,Twelve Monkeys,1995,"[Science Fiction, Thriller, Mystery]",7.4,2470.0
33,Babe,1995,"[Fantasy, Drama, Comedy, Family]",6.0,756.0
38,Clueless,1995,"[Comedy, Drama, Romance]",6.9,828.0
43,Mortal Kombat,1995,"[Action, Fantasy]",5.4,452.0
46,Se7en,1995,"[Crime, Mystery, Thriller]",8.1,5915.0
47,Pocahontas,1995,"[Adventure, Animation, Drama, Family]",6.7,1509.0
49,The Usual Suspects,1995,"[Drama, Crime, Thriller]",8.1,3334.0
68,Friday,1995,[Comedy],7.0,513.0
69,From Dusk Till Dawn,1996,"[Horror, Action, Thriller, Crime]",6.9,1644.0
93,Broken Arrow,1996,"[Action, Adventure, Drama, Thriller]",5.7,459.0
95,La Haine,1995,[Drama],7.9,695.0
102,Happy Gilmore,1996,[Comedy],6.5,767.0
108,Braveheart,1995,"[Action, Drama, History, War]",7.7,3404.0
109,Taxi Driver,1976,"[Crime, Drama]",8.1,2632.0
142,Bad Boys,1995,"[Action, Comedy, Crime, Thriller]",6.5,1729.0
144,The Basketball Diaries,1995,"[Drama, Crime]",7.2,472.0
147,Apollo 13,1995,[Drama],7.3,1637.0
150,Batman Forever,1995,"[Action, Crime, Fantasy]",5.2,1529.0
155,Casper,1995,"[Fantasy, Comedy, Family]",6.0,1045.0
158,Crimson Tide,1995,"[Action, Thriller, Drama]",7.0,508.0
160,Desperado,1995,"[Thriller, Action, Crime]",6.8,898.0
162,Die Hard: With a Vengeance,1995,"[Action, Thriller]",6.9,2094.0
170,Judge Dredd,1995,[Science Fiction],5.4,643.0
...,...,...,...,...,...
42214,King Arthur: Legend of the Sword,2017,"[Action, Drama, Fantasy]",6.5,1506.0
42222,Beauty and the Beast,2017,"[Family, Fantasy, Romance]",6.8,5530.0
42235,The Boss Baby,2017,"[Animation, Comedy, Family]",6.1,2336.0
42271,Resident Evil: The Final Chapter,2016,"[Action, Horror, Science Fiction]",5.9,1139.0
42309,Ghost in the Shell,2017,"[Action, Science Fiction, Thriller]",5.9,2547.0
42355,Fifty Shades Darker,2017,"[Drama, Romance]",6.0,2341.0
42537,To the Bone,2017,[Drama],7.3,714.0
42853,Life,2017,"[Horror, Science Fiction, Thriller]",6.3,1959.0
42868,The Lost City of Z,2016,"[Action, Adventure, Drama, History]",6.1,598.0
42886,Two Is a Family,2016,"[Drama, Comedy]",7.6,765.0
42901,Power Rangers,2017,"[Action, Adventure, Science Fiction]",6.3,1321.0
42902,Alien: Covenant,2017,"[Horror, Science Fiction, Thriller]",5.7,2677.0
43059,Going in Style,2017,"[Crime, Comedy, Drama]",6.6,543.0
43186,Gifted,2017,[Drama],7.7,549.0
43190,Band of Brothers,2001,"[Action, Drama, War]",8.2,725.0
43220,"Everything, Everything",2017,"[Drama, Romance]",7.3,670.0
43231,Baywatch,2017,"[Action, Comedy]",6.1,1829.0
43238,The Mummy,2017,"[Thriller, Action, Adventure]",5.4,2122.0
43255,The Fate of the Furious,2017,"[Action, Crime, Thriller]",6.8,3803.0
43294,Cars 3,2017,"[Family, Comedy, Animation, Adventure]",6.6,718.0
43644,Baby Driver,2017,"[Action, Crime]",7.2,2083.0
43645,Okja,2017,"[Adventure, Drama, Fantasy, Science Fiction]",7.7,795.0
44009,Despicable Me 3,2017,"[Action, Animation, Adventure, Family, Comedy]",6.2,2002.0
44274,War for the Planet of the Apes,2017,"[Drama, Science Fiction, War]",6.7,1675.0
44337,Valerian and the City of a Thousand Planets,2017,"[Adventure, Science Fiction, Action]",6.7,905.0
44624,What Happened to Monday,2017,"[Science Fiction, Thriller]",7.3,598.0
44632,Atomic Blonde,2017,"[Action, Thriller]",6.1,748.0
44678,Dunkirk,2017,"[Action, Drama, History, Thriller, War]",7.5,2712.0
44842,Transformers: The Last Knight,2017,"[Action, Science Fiction, Thriller, Adventure]",6.2,1440.0
45014,The Dark Tower,2017,"[Action, Western, Science Fiction, Fantasy, Ho...",5.7,688.0

In [142]:
#Weighted Rankings Formula

def weighted_ranking(x):
    v = x['vote_count']
    R = x['vote_average']
    w = ((v/ (v+m))*R) + ((m / (v+m))*C)
    return w

top['weighted_ranking'] = weighted_ranking(top)
top = top.sort_values(by = ['weighted_ranking'], ascending = False)
top.head(10)

,title,year,new_genres,vote_average,vote_count,weighted_ranking
314,The Shawshank Redemption,1994,"[Drama, Crime]",8.5,8358.0,8.357746
834,The Godfather,1972,"[Drama, Crime]",8.5,6024.0,8.306334
12481,The Dark Knight,2008,"[Drama, Action, Crime, Thriller]",8.3,12269.0,8.208376
2843,Fight Club,1999,[Drama],8.3,9678.0,8.184899
292,Pulp Fiction,1994,"[Thriller, Crime]",8.3,8670.0,8.172155
351,Forrest Gump,1994,"[Comedy, Drama, Romance]",8.2,8147.0,8.069421
522,Schindler's List,1993,"[Drama, History, War]",8.3,4436.0,8.061007
23673,Whiplash,2014,[Drama],8.3,4376.0,8.058025
5481,Spirited Away,2001,"[Fantasy, Adventure, Animation, Family]",8.3,3968.0,8.035598
1154,The Empire Strikes Back,1980,"[Adventure, Action, Science Fiction]",8.2,5998.0,8.025793

In [144]:
top.shape #2274 movies according to the quantile

(2274, 6)

In [148]:
#recommendation based on genres
#top 20 drama movies

top[top.new_genres.apply(lambda x: 'Drama' in x)].head(20)

,title,year,new_genres,vote_average,vote_count,weighted_ranking
314,The Shawshank Redemption,1994,"[Drama, Crime]",8.5,8358.0,8.357746
834,The Godfather,1972,"[Drama, Crime]",8.5,6024.0,8.306334
12481,The Dark Knight,2008,"[Drama, Action, Crime, Thriller]",8.3,12269.0,8.208376
2843,Fight Club,1999,[Drama],8.3,9678.0,8.184899
351,Forrest Gump,1994,"[Comedy, Drama, Romance]",8.2,8147.0,8.069421
522,Schindler's List,1993,"[Drama, History, War]",8.3,4436.0,8.061007
23673,Whiplash,2014,[Drama],8.3,4376.0,8.058025
2211,Life Is Beautiful,1997,"[Comedy, Drama]",8.3,3643.0,8.014521
18465,The Intouchables,2011,"[Drama, Comedy]",8.2,5410.0,8.008265
22879,Interstellar,2014,"[Adventure, Drama, Science Fiction]",8.1,11187.0,8.007315
1178,The Godfather: Part II,1974,"[Drama, Crime]",8.3,3418.0,7.997846
289,Leon: The Professional,1994,"[Thriller, Crime, Drama]",8.2,4293.0,7.962958
1152,One Flew Over the Cuckoo's Nest,1975,[Drama],8.3,3001.0,7.961165
3030,The Green Mile,1999,"[Fantasy, Drama, Crime]",8.2,4166.0,7.956413
1170,GoodFellas,1990,"[Drama, Crime]",8.2,3211.0,7.892593
1176,Psycho,1960,"[Drama, Horror, Thriller]",8.3,2405.0,7.890032
2216,American History X,1998,[Drama],8.2,3120.0,7.884722
586,The Silence of the Lambs,1991,"[Crime, Drama, Thriller]",8.1,4549.0,7.883845
24860,The Imitation Game,2014,"[History, Drama, Thriller, War]",8.0,5895.0,7.836673
359,The Lion King,1994,"[Family, Animation, Drama]",8.0,5520.0,7.826386

In [149]:
#How about animations? I love Disney!

top[top.new_genres.apply(lambda x: 'Animation' in x)].head(20)

,title,year,new_genres,vote_average,vote_count,weighted_ranking
5481,Spirited Away,2001,"[Fantasy, Adventure, Animation, Family]",8.3,3968.0,8.035598
359,The Lion King,1994,"[Family, Animation, Drama]",8.0,5520.0,7.826386
30315,Inside Out,2015,"[Drama, Comedy, Animation, Family]",7.9,6737.0,7.761902
9698,Howl's Moving Castle,2004,"[Fantasy, Animation, Adventure]",8.2,2049.0,7.748732
2884,Princess Mononoke,1997,"[Adventure, Fantasy, Animation]",8.2,2041.0,7.747274
13724,Up,2009,"[Animation, Comedy, Family, Adventure]",7.8,7048.0,7.673443
12704,WALL¬∑E,2008,"[Animation, Family]",7.8,6439.0,7.662229
24455,Big Hero 6,2014,"[Adventure, Family, Animation, Action, Comedy]",7.8,6289.0,7.659155
40251,Your Name.,2016,"[Romance, Animation, Drama]",8.5,1030.0,7.645698
0,Toy Story,1995,"[Animation, Comedy, Family]",7.7,5415.0,7.545529
36253,Zootopia,2016,"[Animation, Adventure, Family, Comedy]",7.7,4961.0,7.532530
5833,My Neighbor Totoro,1988,"[Fantasy, Animation, Family]",8.0,1730.0,7.522321
6232,Finding Nemo,2003,"[Animation, Family]",7.6,6292.0,7.472123
15348,Toy Story 3,2010,"[Animation, Family, Comedy]",7.6,4710.0,7.432796
5553,Grave of the Fireflies,1988,"[Animation, Drama, War]",8.2,974.0,7.404192
4756,"Monsters, Inc.",2001,"[Animation, Comedy, Family]",7.5,6150.0,7.375957
23557,How to Train Your Dragon 2,2014,"[Fantasy, Action, Adventure, Animation, Comedy...",7.6,3163.0,7.360885
11567,Ratatouille,2007,"[Animation, Comedy, Family, Fantasy]",7.5,4510.0,7.334810
14984,How to Train Your Dragon,2010,"[Fantasy, Adventure, Animation, Family]",7.5,4319.0,7.328172
22718,The Lego Movie,2014,"[Adventure, Animation, Comedy, Family, Fantasy]",7.5,3127.0,7.270655

This method has flaws that it is only based on ratings. Next, I will use content-based algorithm to recommend movies.

## Content-Based

I use NLP package - rake_nltk to analyze the content of movies. I choose cosine similarity to identify the similar movies. Based on the result from the cosine similarity matrix, I can generate movie recommendations.

In [207]:
from rake_nltk import Rake
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer


content = movie.loc[:, ['title', 'year', 'new_genres', 'overview']]

content.head(10)

,title,year,new_genres,overview
0,Toy Story,1995,"[Animation, Comedy, Family]","Led by Woody, Andy's toys live happily in his ..."
1,Jumanji,1995,"[Adventure, Fantasy, Family]",When siblings Judy and Peter discover an encha...
2,Grumpier Old Men,1995,"[Romance, Comedy]",A family wedding reignites the ancient feud be...
3,Waiting to Exhale,1995,"[Comedy, Drama, Romance]","Cheated on, mistreated and stepped on, the wom..."
4,Father of the Bride Part II,1995,[Comedy],Just when George Banks has recovered from his ...
5,Heat,1995,"[Action, Crime, Drama, Thriller]","Obsessive master thief, Neil McCauley leads a ..."
6,Sabrina,1995,"[Comedy, Romance]",An ugly duckling having undergone a remarkable...
7,Tom and Huck,1995,"[Action, Adventure, Drama, Family]","A mischievous young boy, Tom Sawyer, witnesses..."
8,Sudden Death,1995,"[Action, Adventure, Thriller]",International action superstar Jean Claude Van...
9,GoldenEye,1995,"[Adventure, Action, Thriller]",James Bond must unmask the mysterious head of ...

In [251]:
content = content[pd.notnull(content['overview'])]

#initialize the column
content['token'] = ""

Next, I am going to extract words from the overview of the movies using rake_nltk package.

In [260]:
#extract the token from the corpus 

def get_phrase(text):
    r = Rake()
    r.extract_keywords_from_text(text)
    return r.get_ranked_phrases()

content['token'] = content.overview.apply(get_phrase)

In [261]:
content.head(10)

,title,year,new_genres,overview,token
0,Toy Story,1995,"[Animation, Comedy, Family]","Led by Woody, Andy's toys live happily in his ...","[birthday brings buzz lightyear onto, toys liv..."
1,Jumanji,1995,"[Adventure, Fantasy, Family]",When siblings Judy and Peter discover an encha...,"[unwittingly invite alan --, 26 years --, ench..."
2,Grumpier Old Men,1995,"[Romance, Comedy]",A family wedding reignites the ancient feud be...,"[sultry italian divorc√©e opens, local bait sho..."
3,Waiting to Exhale,1995,"[Comedy, Drama, Romance]","Cheated on, mistreated and stepped on, the wom...","[stellar lovers, robin talk, good man, confida..."
4,Father of the Bride Part II,1995,[Comedy],Just when George Banks has recovered from his ...,"[-- like george --, george banks, pregnant ......"
5,Heat,1995,"[Action, Crime, Drama, Thriller]","Obsessive master thief, Neil McCauley leads a ...","[various insane heists throughout los angeles,..."
6,Sabrina,1995,"[Comedy, Romance]",An ugly duckling having undergone a remarkable...,"[still harbors feelings, ugly duckling, remark..."
7,Tom and Huck,1995,"[Action, Adventure, Drama, Family]","A mischievous young boy, Tom Sawyer, witnesses...","[several adventures trying, deadly injun joe, ..."
8,Sudden Death,1995,"[Action, Adventure, Thriller]",International action superstar Jean Claude Van...,[international action superstar jean claude va...
9,GoldenEye,1995,"[Adventure, Action, Thriller]",James Bond must unmask the mysterious head of ...,"[james bond must unmask, inflict devastating r..."

In [269]:
#apply cosine similarity

content['token'] = content['token'].astype(str).str.replace('\[|\]|\'', '')
content['token'].head(10)

#count matrix
count = CountVectorizer()
count_matrix = count.fit_transform(content['token'])

#cosine similarity matrix
cosine_sim = cosine_similarity(count_matrix, count_matrix)

print(cosine_sim)

[[1.         0.02533473 0.         ... 0.         0.01925214 0.        ]
 [0.02533473 1.         0.05437272 ... 0.         0.03706883 0.03256448]
 [0.         0.05437272 1.         ... 0.         0.02065922 0.        ]
 ...
 [0.         0.         0.         ... 1.         0.06343615 0.        ]
 [0.01925214 0.03706883 0.02065922 ... 0.06343615 1.         0.        ]
 [0.         0.03256448 0.         ... 0.         0.         1.        ]]

The cosine similarity matrix shows that the diagonal is 1, which makes sense because each instance is identical to itself.

I can now build a system based on the score of cosine similarity.

In [424]:
def recommendation(name, cosine_sim = cosine_sim):
    
    index = content[content['title'] == name].index[0]
    
    similar_movies_index = pd.Series(cosine_sim[index].ravel())
    
    #the first one is itself so start at the second one (=1)
    similar_movies_index = similar_movies_index.sort_values(ascending = False).iloc[1:11, ] 
    similar_movies = content.title[similar_movies_index.index]
        
    recommendation = [movies for movies in similar_movies]
    return recommendation

In [425]:
#Let's try Toy Story! 
recommendation('Toy Story')

['The Invisible Man',
 'White Dew',
 'The Imaginary Voyage',
 'The Stepmother',
 'Tractor Drivers',
 'The Foundling',
 "The Mechanic Gavrilov's Beloved Woman",
 'Be My Husband',
 'Zigzag of Success',
 'Where Is Enohp Located?']

In [426]:
recommendation('The Shawshank Redemption')

['Live Music',
 'Ernesto',
 'Mal√©fique',
 'Lan Yu',
 "Mad Ron's Prevues from Hell",
 'Clipped Wings',
 'Call Her Savage',
 'More Dead Than Alive',
 'College',
 'Tattoo Nation']

In [431]:
recommendation('Mean Girls')

['Trapeze',
 'The Anonymous People',
 'Cross of Iron',
 'Rampage: Capital Punishment',
 'Timbuktu',
 'The Roost',
 'Zerophillia',
 'Erasing David',
 'Tain√°: An Amazon Adventure',
 'Come Back to the 5 & Dime, Jimmy Dean, Jimmy Dean']

Looks interesting! Next, I will build a collaborative filter engine.

## Collaborative Filters

In [37]:
#import dataset
ratings = pd.read_csv('/Users/Sumin/Downloads/ratings_small.csv')
ratings = ratings.drop(columns = ['timestamp'])
ratings.head(10)

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0
2       1     1061     3.0
3       1     1129     2.0
4       1     1172     4.0
5       1     1263     2.0
6       1     1287     2.0
7       1     1293     2.0
8       1     1339     3.5
9       1     1343     2.0

This dataset has 100,000 rows. Because of the limitation of my computer, I will only use 20000 instances from the dataset. As you can see, the dataset has no missing values.

In [38]:
ratings = ratings.sample(frac = 0.2)
print(ratings.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20001 entries, 37125 to 58384
Data columns (total 3 columns):
userId     20001 non-null int64
movieId    20001 non-null int64
rating     20001 non-null float64
dtypes: float64(1), int64(2)
memory usage: 625.0 KB
None

Now, I am going to use Surprise, which uses Sklearn API. It is a recommendation engine designed for sklearn. 
For the model, I use SVD, which is knowned as Singular Value Decomposition. It can calculate the ratings from users and recommend movies. I use RMSE to examine the accuracy.

In [95]:
from surprise import Reader, Dataset, SVD, evaluate, accuracy
from surprise.model_selection import KFold
reader  = Reader(rating_scale = (1,5))

In [96]:
data = Dataset.load_from_df(ratings, reader)

#define a CV iterator
kf = KFold(n_splits =3)

algo = SVD()

for trainset, testset in kf.split(data):
    algo.fit(trainset)
    predictions=algo.test(testset)
    
    accuracy.rmse(predictions, verbose = True)

RMSE: 0.9313
RMSE: 0.9502
RMSE: 0.9557

RMSE looks good! I think SVD has done a great job! 


To improve the collaborative filtering engine, I can try to combine content-based and create a hybrid engine for better results. Also, I can practice more on choosing different matrices.